.ql-editor h1 {font-size: 48px !important; font-weight:700 !important;}
.ql-editor h2 {font-size: 40px !important; font-weight:700 !important;}
.ql-editor h3 {font-size: 32px !important; font-weight:700 !important;}
.ql-editor h4 {font-size: 24px !important; font-weight:700 !important;}
.ql-editor h5 {font-size: 20px !important; font-weight:700 !important;}
.ql-editor h6 {font-size: 16px !important; font-weight:700 !important;}

.ql-container.ql-editor img {
  max-width: 500px;
  display: block;
  margin: 10px 0;
}

/* Options */
.ql-toolbar.ql-snow {
  color:black;
  background: white;
}


.ql-toolbar.ql-font.ql-picker-label.ql-picker-options.ql-active option {
  color: green;
  background-color: #f9f9f9;
  border-radius: 4px;
  border: 1px solid #ddd;
  padding: 2px 5px;
}

/* Dropdown items */
.ql-snow .ql-picker.ql-font .ql-picker-item[data-value="arial"]::before {
  content: "Arial";
  font-family: Arial, sans-serif;
}

.ql-snow .ql-picker.ql-font .ql-picker-item[data-value="times"]::before {
  content: "Times New Roman";
  font-family: "Times New Roman", serif;
}

.ql-snow .ql-picker.ql-font .ql-picker-item[data-value="courier"]::before {
  content: "Courier New";
  font-family: "Courier New", monospace;
}

.ql-snow .ql-picker.ql-font .ql-picker-item[data-value="roboto"]::before {
  content: "Roboto";
  font-family: "Roboto", sans-serif;
}

/* Selected label */
.ql-snow .ql-picker.ql-font .ql-picker-label[data-value="arial"]::before {
  content: "Arial";
  font-family: Arial, sans-serif;
}

.ql-snow .ql-picker.ql-font .ql-picker-label[data-value="times"]::before {
  content: "Times New Roman";
  font-family: "Times New Roman", serif;
}

.ql-snow .ql-picker.ql-font .ql-picker-label[data-value="courier"]::before {
  content: "Courier New";
  font-family: "Courier New", monospace;
}

.ql-snow .ql-picker.ql-font .ql-picker-label[data-value="roboto"]::before {
  content: "Roboto";
  font-family: "Roboto", sans-serif;
}

/* Editor font rendering */
.ql-font-tahoma {
  font-family: Tahoma, sans-serif;
}

.ql-font-verdana {
  font-family: Verdana, sans-serif;
}

/* Dropdown items */
.ql-snow .ql-picker.ql-font .ql-picker-item[data-value="tahoma"]::before {
  content: "Tahoma";
  font-family: Tahoma, sans-serif;
}

.ql-snow .ql-picker.ql-font .ql-picker-item[data-value="verdana"]::before {
  content: "Verdana";
  font-family: Verdana, sans-serif;
}

/* Selected label */
.ql-snow .ql-picker.ql-font .ql-picker-label[data-value="tahoma"]::before {
  content: "Tahoma";
  font-family: Tahoma, sans-serif;
}

.ql-snow .ql-picker.ql-font .ql-picker-label[data-value="verdana"]::before {
  content: "Verdana";
  font-family: Verdana, sans-serif;
}

.editor {
    font-family: "Roboto", sans-serif;
}

